<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/account">
    事项<input type="text" name="title"> <br>
    时间<input type="text" name="time"> <br>
    类型<select name="type" id="type">
      <option value="-1">支出</option>
      <option value="1">收入</option>
    </select> <br>
    金额<input type="number" name="account"> <br>
    备注<input type="text" name="remarks">  <br>
    <button>添加</button>
  </form>
</body>
</html>